.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.logoWrapper {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-bottom: 1rem;
}

.featureSvg {
  width: 100%;
  height: 100%;
  max-width: 220px;
}

.svgRow {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}