/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #0e0f46;
  --ifm-color-primary-dark: #0e0f46;
  --ifm-color-primary-darker: #0e0f46;
  --ifm-color-primary-darkest: #20285d;
  --ifm-color-primary-light: #0e0f46;
  --ifm-color-primary-lighter: #0e0f46;
  --ifm-color-primary-lightest: #0e0f46;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #98b1e2;
  --ifm-color-primary-dark: ##98b1e2;
  --ifm-color-primary-darker: ##98b1e2;
  --ifm-color-primary-darkest: ##98b1e2;
  --ifm-color-primary-light: ##98b1e2;
  --ifm-color-primary-lighter: ##98b1e2;
  --ifm-color-primary-lightest: ##98b1e2;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

/* justificar texto em md e mdx */
.justify {
  text-align: justify;
  hyphens: auto;
}

.videoWrapper {
  position: relative;
  width: 100%;
  max-width: 900px;        /* opcional, fica mais bonito */
  margin: 2rem auto;
  aspect-ratio: 17 / 8;
  background: #000;
  border-radius: 1px;
  overflow: hidden;
}

.videoWrapper video {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}
